.buttons {
    width           : 47%;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    margin-top      : 30px;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width   : 97%;
    }

    @media screen and ( min-width : 48.1em ) and ( max-width :  64em ) { /*768*/
        width   : 66%;
    }
}

.container-buton{
    width   : 50%;
    display : flex;
    @media screen and ( min-width : 20em ) and ( max-width : 48em ) {
        width   : 60%;
    }
}

.buton{
    border         : 4px solid #6B63B5;
    background     : rgba(0, 0, 0, 0.6);;
    font-family    : $open-regular;
    font-style     : normal;
    font-weight    : 600;
    font-size      : 17px;
    line-height    : 25px;
    text-align     : center;
    letter-spacing : 0.2em;
    color          : #FFFFFF;
    width          : 288px;
    height         : 67px;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width   : 94%;
    }
    @media screen and ( min-width : 48.1em ) and ( max-width :  64em ) { /*768*/
        width   : 94%;
    }
}

.buton:hover {
    background : rgba(107, 99, 181, 0.6);;
}

.buton:active {
    background :#6B63B5;
}

.buton:focus {
    background :#6B63B5;
}
