.container-cards {
    width      : 70%;
    margin-top : 36px;
}

.card {
    padding : 10px;
    margin  : 10px;
    width   : 44%;
    height  : 265px;
    display : inline-block;
}

.card-inf {
    display       : flex;
    background    : white;
    border-radius : 16px 16px 16px 16px;
}

.card-inf-alive {
    background    : #CCCCCC;
    display       : flex;
    border-radius : 16px 16px 16px 16px;
}

.card-img-cont {
    display       : flex;
    width         : 40%;
    height        : 265px;
    align-items   :center;
    overflow      : hidden;
    border-radius : 16px 0px 0px 16px;
}

.Gryffindor { background : linear-gradient(135deg, #FF0000 0%, #FED482 100%); }
.Ravenclaw  { background : linear-gradient(135deg, #0597B7 0%, #66D1FF 100%); }
.Slytherin  { background : linear-gradient(135deg, #1C792B 0%, #82E95E 100%); }
.Hufflepuff { background : linear-gradient(135deg, #FFC700 0%, #FFF388 100%); }

.card-img-cont img {
    display       : flex;
    width         : 165px;
    height        : 165px;
    border-radius : 50%;
}

.card-text-cont{
    width    : 60%;
    height   : 265px;
    overflow : hidden;
}

.text-cont {
    margin : 8%;
}

.cart-text-status {
    display        : flex;
    flex-direction : row;
    align-items    : center;
}

.text-status{
    width : 50%;
}

.text-status p {
    position    : static;
    font-family : $open-regular;
    font-style  : normal;
    font-weight : 600;
    font-size   : 14px;
    line-height : 19px;
    color       : #999999;
}

.text-buton {
    display         : grid;
    flex-direction  : row;
    justify-content : flex-end;
    width           : 50%;
}

.text-buton button {
    border         : none;
    background     : none;
}

.cart-text-name {
    font-family   : $open-regular;
    font-style    : normal;
    font-weight   : 600;
    font-size     : 30px;
    line-height   : 46px;
    margin-top    : 10px;
    color         : #081F32;
    margin-bottom : 10px;
}

.cart-text-inf {
    margin-top : 2px;
}

.cart-text-inf p {
    font-family : $open-regular;
    font-style  : normal;
    font-weight : bold;
    font-size   : 18px;
    line-height : 27px;
    color       : #374A59;
}
.cart-text-inf p span {
    font-family : $open-regular;
    font-style  : normal;
    font-weight : normal;
    font-size   : 18px;
    line-height : 27px;
    color       : #374A59;
}
