.container-cards {
    width      : 93%;
    margin-top : 36px;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        display: flex;
        width : 100%;
        flex-wrap: wrap;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width : 100%;

    }
}

.card {
    padding : 10px;
    margin  : 10px;
    width   : 48.4%;
    height  : 265px;
    display : inline-block;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width : 44.4%;
        padding : 0px;

    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width : 44.4%;
    }
}

.card-inf {
    display       : flex;
    background    : white;
    border-radius : 16px 16px 16px 16px;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        display  : block;
    }

    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        display  : block;
    }
}

.card-inf-alive {
    display  : flex;

    background    : #CCCCCC;

    border-radius : 16px 16px 16px 16px;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        display  : block;
    }

    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        display  : block;
    }

}

.card-img-cont {
    display       : flex;
    width         : 40%;
    height        : 265px;
    align-items   : center;
    overflow      : hidden;
    border-radius : 16px 0px 0px 16px;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        border-radius : 16px 16px 0px 0px;
        width         : 100%;
        height        : 130px;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width         : 100%;
        border-radius : 16px 16px 0px 0px;
        height        : 200px;
    }
}

.Gryffindor { background : linear-gradient(135deg, #FF0000 0%, #FED482 100%); }
.Ravenclaw  { background : linear-gradient(135deg, #0597B7 0%, #66D1FF 100%); }
.Slytherin  { background : linear-gradient(135deg, #1C792B 0%, #82E95E 100%); }
.Hufflepuff { background : linear-gradient(135deg, #FFC700 0%, #FFF388 100%); }

.card-img-cont img {
    display       : flex;
    width         : 165px;
    height        : 165px;
    border-radius : 50%;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width  : 100px;
        height : 100px;
    }
}

.card-text-cont {
    width    : 60%;
    height   : 265px;
    overflow : hidden;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width  : 100%;
        height : auto;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width  : 100%;
        height : auto;
    }
}

.text-cont {
    margin : 8%;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        display   : flex;
        flex-flow : row wrap-reverse
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        display   : flex;
        flex-flow : row wrap-reverse
    }
}

.cart-text-status {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    order          : 1;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width : 100%;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width : 100%;
    }
}

.text-status {
    width : 50%;
}

.text-status p {
    position    : static;
    font-family : $open-regular;
    font-style  : normal;
    font-weight : 600;
    font-size   : 14px;
    line-height : 19px;
    color       : #999999;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        font-size : 11;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        font-size : 21px;
    }
}

.text-buton {
    display         : grid;
    flex-direction  : row;
    justify-content : flex-end;
    width           : 50%;
}

.text-buton button {
    border         : none;
    background     : none;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width  : 78px;
        height : 46px;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width  : 78px;
        height : 46px;
    }
}

.text-buton > button > img {

    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width  : 28px;
        height : 30px;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width  : 28px;
        height : 30px;
    }
}
.cart-text-name {
    font-family   : $open-regular;
    font-style    : normal;
    font-weight   : 600;
    font-size     : 30px;
    line-height   : 46px;
    margin-top    : 10px;
    color         : #081F32;
    margin-bottom : 10px;
    order         : 2;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        width : 100%;
        font-size     : 16px;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        width : 100%;
        font-size     : 30px;

    }
}

.cart-text-inf {
    margin-top : 2px;
    @media screen and ( min-width : 20em ) and ( max-width :  48em ) { /*768*/
        display : none;
    }
    @media screen and ( min-width : 48em ) and ( max-width :  64em ) { /*768*/
        display : none;
    }
}

.cart-text-inf p {
    font-family : $open-regular;
    font-style  : normal;
    font-weight : bold;
    font-size   : 18px;
    line-height : 27px;
    color       : #374A59;
}
.cart-text-inf p span {
    font-family : $open-regular;
    font-style  : normal;
    font-weight : normal;
    font-size   : 18px;
    line-height : 27px;
    color       : #374A59;
}
/***********/
/***********/
/***********/
/***********/
/***********/
/***********/
/***********/
/***********/
/***********/
/***********/

.uno {
    width     : 80%;
    display   : flex;
    flex-wrap : wrap;
    margin    : 10px;
    @media screen and ( max-width : 768px ){
        width : 96%;
    }
}

.dos {
    width          : 50%;
    display        : flex;
    flex-wrap      : wrap;
    padding-left   : 1%;
    padding-top    : 1%;
    padding-right  : 1%;
    padding-bottom : 1%;
}

.tres {
    height : 265px;
    width  : 50%;
    @media screen and ( max-width : 768px ){
        width  : 100%;
        height : 140px;
    }
    display   : flex;
    flex-wrap : wrap;
}

.tres-uno {
    align-items   : center;
    border-radius : 16px 0px 0px 16px;
    overflow      : hidden;
    @media screen and ( max-width : 768px ){
        border-radius : 16px 16px 0px 0px;
    }
}

.tres-uno > .image-user {
    width         : 165px;
    height        : 165px;
    border-radius : 50%;
    overflow      : hidden;
    @media screen and ( max-width : 768px ){
        width  : 120px;
        height : 120px;
    }
}

.image-user img {
    width  : 100%;
    height : auto;
}

.file-info {
    width : 40%;
    @media screen and ( max-width : 768px ){
        width : 100%;
    }
}
.inf {
    width : 60%;
    @media screen and ( max-width : 768px ){
        width : 100%;
    }
}




/***********/
.tres-dos {
    background: white;
    border-radius : 0px 16px 16px 0px;
    @media screen and ( max-width : 768px ){
        border-radius: 0px 0px 16px 16px;
        flex-flow : row wrap-reverse
    }
}
.tres-dos-finado{
    background: #CCCCCC;
    border-radius : 0px 16px 16px 0px;
    @media screen and ( max-width : 768px ){
        border-radius: 0px 0px 16px 16px;
        flex-flow : row wrap-reverse
    }
}

.cuatro {
    display : flex;
    width   : 100%;
}

.cuatro-status {
    flex-direction : inherit;
    margin         : 10px;
    align-items    : center;
}
.cuatro-name {
    font-family   : $open-regular;
    font-style    : normal;
    font-weight   : 600;
    font-size     : 30px;
    line-height   : 46px;
    margin-top    : 10px;
    color         : #081F32;
    @media screen and ( max-width : 768px ){
        font-size : 18px;
    }
}

.cuatro-info {
    display      : flow-root;
    margin-left  : 10px;
    margin-right : 10px;
    align-items  : center;
    @media screen and ( max-width : 768px ){
        display : none;
    }
}

.cuatro-info p {
    font-family : $open-regular;
    font-style  : normal;
    font-weight : bold;
    font-size   : 18px;
    line-height : 27px;
    color       : #374A59;
}

.cuatro-info p span {
    font-family : $open-regular;
    font-style  : normal;
    font-weight : normal;
    font-size   : 18px;
    line-height : 27px;
    color       : #374A59;
}
