
@font-face{
    font-family : $open-regular;
    src         : url( "#{$url-fonts}Roboto-Regular.ttf" );
}

@font-face{
    font-family : $open-thin;
    src         : url( "#{$url-fonts}Roboto-Thin.ttf" );
}
